.proyectItemContainer-layout {
  display: flex;
  padding: 0 1.3rem;
}

.proyectItemContainerRight-layout {
  justify-content: flex-end;
}

.proyectItemContainerLeft-layout {
  justify-content: flex-start;
}

.proyectItem-width {
  width: 48.222vw;
}

.proyectItem-text {
  color: #278ea5;
}

.proyectItem--link {
  text-decoration: none;
}

.proyectItem--h3-text {
  font-size: 1.8rem;
}

.proyectItem--p-text {
  font-size: 1.3rem;
}

.proyectItem--portada-size {
  width: 30%;
  height: 6rem;
}

.proyectItemLeft-border {
  border-right: 10px whitesmoke solid;
  border-right-style: outset;
}

.proyectItemLeft-layout {
  display: flex;
  gap: 1rem;
  text-align: left;
}

.proyectItemRight-border {
  border-left: 10px whitesmoke solid;
  border-left-style: inset;
}

.proyectItemRight-layout {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  text-align: right;
}

@media screen and (max-width: 600px) {

  .proyectItem--portada-size {
    width: 90%;
  }

  .proyectItem--h3-text {
    font-size: 1.5em;
  }

  .proyectItem--p-text {
    font-size: 1.2em;
  }

  .proyectItemLeft-layout {
    flex-direction: column;
    gap: 1rem;
  }

  .proyectItemRight-layout {
    flex-direction: column;
    gap: 1rem;
}
}
